.maintxt {
    color: rgb(17, 17, 17);
}

.gr {
    background: radial-gradient(circle at top, #f8e4d3, #e6e1e8);
}

.inp {
    background-color: #ded9d9;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.inp:focus {
    outline: none;
}

.btn:hover {
    background-color: rgb(32, 31, 31);
    transition: all 0.3s ease;

}