.bg {
  position: relative;
}

@media (max-width: 640px) {
  .bg::before {
    content: "";
    position: absolute;
    inset: 0;
    top: 0;
    left: -6px;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
    opacity: 0.1;
    background: url("../assets/logo.png") center/cover no-repeat;
    scale: 1.2;
  }
}
