.bg {
  position: relative;
}

@media (max-width: 640px) {
  .bg::before {
    content: "";
    position: absolute;
    inset: 0;
    top: 15%;
    left: 7%;
    width: 80%;
    height: 80%;
    /* z-index: -1; */
    opacity: 0.1;
    background: url("../assets/logo.png") center/cover no-repeat;
    scale: 1.2;
  }
}
